<div class="container form-container">
  <form role="form" [formGroup]="filterForm" (ngSubmit)="save(filterForm.value)">
    <div class="form-group m-3" [formGroup]="filterForm">
      <label class="mb-2" for="Perfil">Selecciona un miembro:</label>
      <input type="text" class="form-control mb-2" formControlName="filterText" placeholder="Filtro de usuarios">
      <select
      name="ID_Miembro"
      class="form-select"
      data-live-search="true"
      formControlName="selectedMiembro"
      id="ID_Miembro">
        <option
        *ngFor="let miembro of filteredMiembros"
        [value]="miembro.ID_Miembro">{{miembro.Matricula +'  '+ miembro.Nombre +' '+ miembro.Apellido_Paterno}}</option>
      </select>
    </div>

    <div class="form-group m-3">
      <label class="mb-2" for="Monto">Monto:</label>
      <input type="text" class="form-control" id="Monto" formControlName="Monto">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Metodo_Pago">Metodo de Pago:</label>
      <select name="Metodo_Pago" class="form-control" id="Metodo_Pago" formControlName="Metodo_Pago">
        <option value="" selected disabled>Selecciona una opcion </option>
        <option value="Tarjeta de credito">Tarjeta de credito</option>
        <option value="Tarjeta de debito">Tarjeta de debito</option>
        <option value="Transferencia">Transferencia</option>
        <option value="Efectivo">Efectivo</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary form-control">Submit</button>
  </form>

</div>
