/* TODO: este es la tipografia institucional. aplicar a todos los compnenetes y modulos  */
.container{
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
