<div class="container p-3">
  <div class="row">
    <h2 class="m-3">Asistencias</h2>

    <div class="col-10">
      <div class="card ">
        <div class="card-header">
          <h4>Segimiento de Asistencias</h4>
        </div>
        <div class="div d-flex flex-row-reverse">
          <button class="btn btn-primary m-3" (click)="toCreate()">Agragar Asistencia</button>
        </div>
        <div class="card-body ">

          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col"> Matricula </th>
                <th scope="col"> Miembro </th>
                <th scope="col"> Fecha </th>
                <!-- <th scope="col"> </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let asistencia of asistencias">
                <td> {{asistencia.Matricula}} </td>
                <td> {{asistencia.Nombre +' '+ asistencia.Apellido_Paterno}} </td>
                <td> {{asistencia.Fecha}} </td>
                <!-- <td> -->
                <!-- <button (click)="toEdit(asistencia.ID_Asistencia)" class="btn btn-success">edit</button> -->
                <!-- <button (click)="destroy(asistencia.ID_Asistencia)" class="btn btn-danger">delete</button> -->
                <!-- </td> -->
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</div>