<div class="container form-container">

  <form role="form" [formGroup]="usuarioForm" (ngSubmit)="save(usuarioForm.value)">
    <div class="form-group m-3">
      <label class="mb-2" for="Nombre">Nombre:</label>
      <input type="text" class="form-control" formControlName="Nombre" id="Nombre" required title="Campo requerido"
        (keyup)="validarNoNumerico($event)">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Apellido_Paterno">Apellido Paterno:</label>
      <input type="text" class="form-control" formControlName="Apellido_Paterno" id="Apellido_Paterno" required
        title="Campo requerido" (keyup)="validarNoNumerico($event)">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Apellido_Materno">Apellido Materno:</label>
      <input type="text" class="form-control" formControlName="Apellido_Materno" id="Apellido_Materno" required
        title="Campo requerido" (keyup)="validarNoNumerico($event)">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Matricula">Matricula de UNEDL:</label>
      <input type="text" class="form-control" formControlName="Matricula" id="Matricula" required
        title="Campo requerido">
    </div>
    <div *ngIf="usuarioForm.get('Matricula')?.hasError('pattern')" style="color: red;">
      El formato de la matrícula no es válido.
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Perfil">Perfil al que Pertenece:</label>
      <select name="ID_Perfil" class="form-control" formControlName="ID_Perfil" id="ID_Perfil" required
        title="Campo requerido">
        <option *ngFor="let perfil of perfiles" value="{{perfil.ID_Perfil}}">{{perfil.Nombre}}</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Perfil">Programa al que Perteneces:</label>
      <select name="ID_Licenciaturas" class="form-control" formControlName="ID_Licenciaturas" id="ID_Licenciaturas"
        required title="Campo requerido">
        <option *ngFor="let licenciatura of licenciaturas" value="{{licenciatura.ID_Licenciaturas}}">
          {{licenciatura.Nombre}}</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Genero">Genero</label>
      <select name="Genero" class="form-control" formControlName="Genero" id="Genero" required title="Campo requerido">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Fecha_Nacimiento">Fecha Nacimiento:</label>
      <input type="date" class="form-control" formControlName="Fecha_Nacimiento" id="Fecha_Nacimiento" required
        title="Campo requerido">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Correo_Electronico">Correo Electronico:</label>
      <input type="email" class="form-control" formControlName="Correo_Electronico" id="Correo_Electronico" required
        title="Campo requerido">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Estado">Estado:</label>
      <select name="ID_Estado" class="form-control" formControlName="ID_Estado" id="ID_Estado"
        (change)="setMunicipios()" required title="Campo requerido">
        <option *ngFor="let estado of estados" value="{{estado.ID_Estado}}">{{estado.Estado}}</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Municipio">Municipio:</label>
      <select name="ID_Municipio" class="form-control" formControlName="ID_Municipio" id="ID_Municipio" required
        title="Campo requerido">
        <option *ngFor="let municipio of municipios" value="{{municipio.ID_Municipio}}">{{municipio.Municipio}}</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Colonia">Colonia:</label>
      <input type="text" class="form-control" formControlName="Colonia" id="Colonia" required title="Campo requerido"
        (keyup)="validarNoNumerico($event)">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Codigo_Postal">Codigo Postal:</label>
      <input type="text" class="form-control" formControlName="Codigo_Postal" id="Codigo_Postal" required
        title="Campo requerido" (keyup)="limitarLongitudYNumeros($event)">
    </div>

    <div class="form-group m-3">
      <label class="mb-2" for="Entrenamiento">Entrenamiento Previo:</label>
      <select name="Entrenamiento" class="form-control" formControlName="Entrenamiento" id="Entrenamiento">
        <option value="1">Si</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Tipo_Entrenamiento">Tipo de Entrenamiento:</label>
      <input type="text" class="form-control" formControlName="Tipo_Entrenamiento" id="Tipo_Entrenamiento">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Lesion">Lesion Previa:</label>
      <select name="Lesion" class="form-control" formControlName="Lesion" id="Lesion">
        <option value="1">Si</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Tipo_Lesion">Tipo de Lesion</label>
      <input type="text" class="form-control" formControlName="Tipo_Lesion" id="Tipo_Lesion">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Objetivo">Objetivo:</label>
      <input type="text" class="form-control" formControlName="Objetivo" id="Objetivo">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="Contrasena">Contraseña:</label>
      <input type="password" class="form-control" formControlName="Contrasena" id="Contrasena" required
        title="Campo requerido">
    </div>
    <div class="form-group m-3">
      <label class="mb-2" for="ConfirmarContrasena">Confirmar Contraseña:</label>
      <input type="password" class="form-control" formControlName="ConfirmarContrasena" id="ConfirmarContrasena"
        required title="Campo requerido">
    </div>
    <!-- Mostrar mensaje de error si las contraseñas no coinciden -->
    <div *ngIf="usuarioForm.hasError('mismatch')" style="color: red;">
      Las contraseñas no coinciden.
    </div>


    <button type="submit" class="btn btn-primary form-control mb-4">Registrar</button>
  </form>

</div>