<div class="container form-container">
  <form role="form" [formGroup]="usuarioForm" (ngSubmit)="save(usuarioForm.value)">
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Nombre">Nombre:</label>
      <input type="text" class="form-control" formControlName="Nombre" id="Nombre">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Paterno">Apellido Paterno:</label>
      <input type="text" class="form-control" formControlName="Apellido_Paterno" id="Apellido_Paterno">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Materno">Apellido Materno:</label>
      <input type="text" class="form-control" formControlName="Apellido_Materno" id="Apellido_Materno">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Matricula">Matricula de UNEDL:</label>
      <input type="text" class="form-control" formControlName="Matricula" id="Matricula">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Perfil">Programa al que Perteneces:</label>
      <select name="Perfil" class="form-control" formControlName="Perfil" id="Perfil">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Genero">Genero</label>
      <select name="Genero" class="form-control" formControlName="Genero" id="Genero">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Fecha_Nacimiento">Fecha Nacimiento:</label>
      <input type="date" class="form-control" formControlName="Fecha_Nacimiento" id="Fecha_Nacimiento" >
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Correo_Electronico">Correo Electronico:</label>
      <input type="email" class="form-control" formControlName="Correo_Electronico" id="Correo_Electronico">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Estado">Estado:</label>
      <select name="Estado" class="form-control" formControlName="Estado" id="Estado">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Municipio">Municipio:</label>
      <select name="Municipio" class="form-control" formControlName="Municipio" id="Municipio">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Colonia">Colonia:</label>
      <input type="text" class="form-control" formControlName="Colonia" id="Colonia">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Codigo_Postal">Codigo Postal:</label>
      <input type="text" class="form-control" formControlName="Codigo_Postal" id="Codigo_Postal">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Entrenamiento">Entrenamiento Previo:</label>
      <select name="Entrenamiento" class="form-control" formControlName="Entrenamiento" id="Entrenamiento">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Entrenamiento">Tipo de Entrenamiento:</label>
      <input type="text" class="form-control" formControlName="Tipo_Entrenamiento" id="Tipo_Entrenamiento">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Lesion">Lesion Previa:</label>
      <select name="Lesion" class="form-control" formControlName="Lesion" id="Lesion">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Lesion">Tipo de Lesion</label>
      <input type="text" class="form-control" formControlName="Tipo_Lesion" id="Tipo_Lesion">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Objetivo">Objetivo:</label>
      <input type="text" class="form-control" formControlName="Objetivo" id="Objetivo">
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Contrasena">Contraseña:</label>
      <input type="text" class="form-control" formControlName="Contrasena" id="Contrasena">
    </div>


    <button type="submit" class="btn btn-primary form-control">Submit</button>
  </form>

</div>
