<div class="container">
  <form role="form">
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Nombre">Nombre:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Paterno">Apellido Paterno:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Materno">Apellido Materno:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Matricula">Matricula de UNEDL:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Perfil">Programa al que Perteneces:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Genero">Genero</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Fecha_Nacimiento">Fecha Nacimiento:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Correo_Electronico">Correo Electronico:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Estado">Estado:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Municipio">Municipio:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Colonia">Colonia:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Codigo_Postal">Codigo Postal:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Entrenamiento">Entrenamiento Previo:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Entrenamiento">Tipo de Entrenamiento:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Lesion">Lesion Previa:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Entrenamiento">Tipo de Lesion</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Objetivo">Objetivo:</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Contrasena">Contraseña:</label>
    </div>


    <button type="submit" class="btn btn-primary form-control">Submit</button>
  </form>

</div>
