<div class="container">
  <form role="card">
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Nombre">Nombre: {{miembroInfo.Nombre }}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Paterno">Apellido Paterno: {{miembroInfo.Apellido_Paterno}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Apellido_Materno">Apellido Materno: {{miembroInfo.Apellido_Materno}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Matricula">Matricula de UNEDL: {{miembroInfo.Matricula}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Perfil">Programa al que Perteneces: {{miembroInfo.Perfil}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Genero">Genero {{miembroInfo.Genero}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Fecha_Nacimiento">Fecha Nacimiento: {{miembroInfo.Fecha_Nacimiento}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Correo_Electronico">Correo Electronico: {{miembroInfo.Correo_Electronico}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Estado">Estado: {{miembroInfo.Estado}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Municipio">Municipio: {{miembroInfo.Municipio}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Colonia">Colonia: {{miembroInfo.Colonia}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Codigo_Postal">Codigo Postal: {{miembroInfo.Codigo_Postal}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Entrenamiento">Entrenamiento Previo: {{miembroInfo.Entrenamiento}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Entrenamiento">Tipo de Entrenamiento: {{miembroInfo.Tipo_Entrenamiento}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Lesion">Lesion Previa: {{miembroInfo.Lesion}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Tipo_Entrenamiento">Tipo de Lesion {{miembroInfo.Tipo_Entrenamiento}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Objetivo">Objetivo: {{miembroInfo.Objetivo}}</label>
    </div>
    <div class="form-group m-3">
      <label class="mb-2 form-control" for="Contrasena">Contraseña: {{miembroInfo.Contrasena}}</label>
    </div>
  </form>

</div>
