<div class="container p-3">
  <div class="row">
    <h2 class="m-3">Usuarios</h2>

    <div class="col-10">
      <div class="card ">
        <div class="card-header">
          <h4>Lista de Miembros</h4>
        </div>
        <div class="div d-flex flex-row-reverse">
          <button class="btn btn-primary m-3" (click)="toCreate()">Agragar Usuario</button>
        </div>
        <div class="card-body ">

          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col"> Matricula </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> Apellido Paterno </th>
                <th scope="col"> Apellido Materno </th>
                <th scope="col"> Perfil </th>
                <th scope="col"> Programa </th>
                <th scope="col"> Correo_Electronico </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let usuario of users">
                <td> {{usuario.Matricula}} </td>
                <td> {{usuario.Nombre}} </td>
                <td> {{usuario.Apellido_Paterno}} </td>
                <td> {{usuario.Apellido_Materno}} </td>
                <td> {{usuario.Perfil}} </td>
                <td> {{usuario.programa}} </td>
                <td> {{usuario.Correo_Electronico}} </td>
                <td class="">
                  <button (click)="toDetails(usuario.ID_Miembro)" class="btn btn-info"
                    style="width: 75px;"><mat-icon>info</mat-icon></button>
                  <button (click)="toEdit(usuario.ID_Miembro)" class="btn btn-success"
                    style="width: 75px;"><mat-icon>edit</mat-icon></button>
                  <button (click)="destroy(usuario.ID_Miembro)" class="btn btn-danger"
                    style="width: 75px;"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</div>