@import "~@angular/material/prebuilt-themes/indigo-pink.css";

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: #ff6862;
}

.ng-valid.ng-touched {
  border-color: #42a948; /* green */
}

mat-sidenav-container {
  height: calc( 100vh - 65px );
}

.content {
  height: calc( 100vh - 65px );
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  background-color: #1A1D56;
 color: #ffffff;
}
.btn-primary{
  background-color: #936B28;
}

.avatar {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logo {
  position: relative;
  left: 25%;
  right: 50%;
}
