/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
/*
.btn-success{
  background-color: #936B28;

}.btn-info{
  background-color: #936B28;

} */
